body{
    height: 100vh;
    background: white;
}

*{
    font-family: 'Montserrat';
    outline: none;

}

/*** WELCOME SCREEN ***/

.all{
    width: 100%;
    height:100vh;
    position: relative;
    overflow: hidden;
}
.fonddecran{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    width: 110%;
    height: 110vh;
    object-fit: cover;
    filter: blur(4px);
}

.overlay{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(126, 90, 231,.25);
}

.loading{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    transition: height ease .5s;

}

.loaded{
    height: 70vh;
}

.logo_loader{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo_loader > img{
    width: 80%;
}

.logo_loader > .baseline{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

.btn_box{
    position: absolute;
    width: 100%;
    bottom: 50px;
}

.btn_box_menu{
    position: absolute;
    width: 100%;
    bottom: 10vh;
}

.logo_scroller_menu{
    top: 50%;
    left: 50%;
    width: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.fill_box_btn{
    background-color: white;
}

.btn_loader{
    width: 90%;
    left: 50%;
    transform: translate(-50%);
}
.welcome{
    opacity: 0;
    width: 100%;
    height: 30vh;
    position: absolute;
    bottom: 0;
    transition: opacity ease 0.5s;
}

.visible{
    opacity: 1;
}

.btn {
    margin: 0;
    width: 100%;
    padding: 12px 0;
    background: #7A2AE8;
    border-radius: 3px;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border: none;

}

.btn.white{
    padding: 15px 0;
    background: white;
    color: #7A2AE8;
}

.btn.purple{
    padding: 15px 0;
    background: #7A2AE8;
    color: white;
}

.btn.linealwhite{
    font-size: 17px;
    background: inherit;
    border: 2px solid white;
    color: white;
}

.btn.linealpurple{
    font-size: 17px;
    background: transparent;
    border: 2px solid #7A2AE8;
    color: #7A2AE8;
}


/*** REGISTER & LOGIN SCREEN ***/
.main{
    margin: auto;
    min-height: 100vh;
    position: relative;
    padding-top: 150px;
    width: 90%;
}
.logo{
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 70px;
    left:50%;
    transform: translateX(-50%);

}

.form{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.form-input{
    width: 100%;
    padding: 20px;
    border: none;
    border-bottom: 2px #7A2AE8 solid;
    margin-top: 10px;
}

.remember{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;

}

.illustration_register{
    position: absolute;
    top: 35%;
    left: 50%;
    transform:translate(-50%,-35%);
    width: 100vw;
}

#avatar{display: none}

.container_preview{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#preview{
    display: none;
    margin: auto;
    height: 50vw;

}

.part_two{display: none}
.part_three{display: none}

.timeline{
    z-index: 1000;
    width: 100%;
    height: 1vh;
    position:absolute;
    bottom: 0;
    left: 0;
}

.timeline_content{
    height: 100%;
    background-color: #7A2AE8;
    transition: 0.4s all ease;
}

.timeline_client{
    width: 0%;
    background-color: #7A2AE8;
}

.form-group{
    display: none;
    flex-direction: column;
    align-items: center;
}

.timeline_entrepreneur{
    width: 0%;
    background-color: #7A2AE8;
}





.knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    transform: rotate(180deg);
    position: relative;
    width: 74px;
    height: 36px;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #7A2AE8;
    transition: 0.3s ease all;
    z-index: 1;
}
#button-3 .knobs:before
{
    content: '';
    position: absolute;
    top: 5.5px;
    left: 5.5px;
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before
{
    width: 46px;
    border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before
{
    margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before
{
    content: '';
    left: 42px;
    background-color: white;
}

#button-3 .checkbox:checked ~ .layer
{
    background-color: #333;
}

.forgot{
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 12px;
}

.error{
    font-size: 12px;
    margin-top: 10px;
}


/*** ENTREPRENEUR FORM ***/

.jour_form{
    width: 100%;
    height: 160px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.button{
    margin-right: 10px;
}

.jour_form > img{
    width: 110%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    filter: blur(4px);
}

.jour_form > .jour_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.open_button_reel{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.open_button{
    margin: 10px 0;
    display: flex;
    align-items: center;

}

.form-flex{

}

.horaire_form{
    width: 80%;

}

.ligne_form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.ligne_form > input[type='time']{
    border: 0;
    border-bottom: 2px solid #7A2AE8;
    text-align: center;
}

/*** Menu ***/

.menu{
    z-index: 1000;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    height:9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_menu{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container_menu a {
    width: 7vh;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-decoration: none;
    border-radius: 5px;
}

.menu_selected{
    background: rgba(206, 198, 255, 0.3);
}

.icon{
    width:5vh;
    height: 4vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container_menu span{
    font-size: 8.5px;
    font-weight: 600;
    color: black;
}



/*** Home ***/

.template_grid {
    justify-content: center;
    display: grid;
    grid-template-columns: 12.5vh 12.5vh 12.5vh;
    grid-template-rows: 12.5vh 12.5vh 12.5vh 12.5vh;
    grid-column-gap : 15px;
    grid-row-gap : 10px;
    margin-bottom: 10px;
    grid-template-areas:
            "grid1 grid2 grid3"
            "grid1 grid4 grid5"
            "grid6 grid7 grid5"
            "grid8 grid8 grid9";
}

.grid1{grid-area: grid1; }
.grid2{grid-area: grid2; }
.grid3{grid-area: grid3; }
.grid4{grid-area: grid4; }
.grid5{grid-area: grid5; }
.grid6{grid-area: grid6; }
.grid7{grid-area: grid7; }
.grid8{grid-area: grid8; }
.grid9{grid-area: grid9; }


.template_grid a {
     border-radius: 10px;
     position: relative;
     text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.template_grid img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.template_grid span{
    position: absolute;
    left: 50%;
    transform:translate(-50%);
    bottom: 2vh;
    max-width: 95%;
    padding-top: 2px;
    padding-bottom: 2px;
    background: rgba(97, 56, 177, 0.8);
    backdrop-filter: blur(1px);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}


.scroller{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.fond_scroller {
    width: 110%;
    filter: blur(2px);
}

.logo_scroller{
    width: 45%;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left:50%;
    transform: translateX(-50%);
}

.unscroll{
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 90px;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_secteur{
    font-size: 12px;
    background: inherit;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 80%;
}

.btn_order{
    display: flex;
    align-items: center;
    justify-content: center;

    background: inherit;
    border: 2px solid white;
    height: 4vh;
    width: 4vh;
}

.btn_order img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.container_leo{
    width: 90%;
    margin: 0 auto;
    padding-top: 150px;
}

.famille_title{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.famille_title > hr{
    width: 50%;
}

.famille_title > a{
    color: black;
    font-size: 40px;
    text-decoration: none;
}

.photo_family{
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 20px;
}

.photo_family > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.person{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.person > h2{
    font-size: 14px;
}

.rdv{
    margin: 20px 0;
}

.unrdv{margin: 10px 0;}

.toprdv{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.righttoprdv{
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.righttoprdv > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lefttoprdv{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 60px;
}
.namerdv{
    margin: 0;

}

.namerdv.name{
    font-weight: 800;
    font-size: 20px;
}

.bottomrdv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.leftbottomrdv{
    flex-basis: 60%;
    height: 40px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.leftbottomrdv > img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.rightbottomrdv{
    margin: 0;
    flex-basis: 35%;
    height: 40px;
    overflow: hidden;
    font-size: 13px!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ouverture_ent{
    margin: 20px 0 20px 8vw;
    font-weight: 800;
    color: #7A2AE8;
}

.desc_ent{
    margin: 0 8vw 10px 8vw;
}
.trait_ent{
    width: calc(100% - 16vw);
    margin: 0 8vw 10px 8vw;
}

.horaires_ent{
    margin-left: 8vw;
}

.horaires_dispo{
    width: calc(100% - 16vw);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-height:250px ;
    overflow: scroll;
}

.cases{
    flex-basis: 30%;
    margin-right: 5%;
    height: 40px;
    background: #7A2AE8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 3px;
}

.cases:nth-child(3n){
    margin: 0;
}

.date_ent{
    width: 50%;
    margin: 20px auto 0px auto;
    border: none;
    color: #7A2AE8;

}

















/*** Profil ***/

.img_profil{
    width: 100%;
    height: 70vh;
    background-color: black;
    position: fixed;
    top: 0;
}

.img_profil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bas_de_profil{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 100%;
    min-height: 40vh;
    top: 50vh;

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: white;
}


.icon_link_profile{
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    background-color: #7A2AE8;
    display: flex;
    align-items: center;
    justify-content: center;
}



.icon_link_profile img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.link_profile{
    position: absolute;
    top: -3vh;
    right: 15%;
}

.name_user{
    margin-top: 5vh;
    margin-left: 8vw;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #151A2B;
}

.id_user{
    margin-top: 1vh;
    margin-left: 8vw;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #151A2B;
}

.fav_user{
    margin-top: 5vh;
    margin-left: 8vw;
    font-weight: bold;
    font-size: 18px;
    color: #151A2B;
}

.fav{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    width: 90%;
    height: 10vh;
    background-color: #7A2AE8;
    border-radius: 10px;
}

.like{
    position: absolute;
    top: 5vh;
    right: 50px;
}

.fav span{
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%);
    width: 90%;
    background: rgba(97, 56, 177, 0.8);
    font-weight: bold;
    font-size: 12.5px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}









/*** Notifs ***/
.date{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.date span {
    font-weight: 500;
    font-size: 12.5pt;
    text-transform: uppercase;
    background-color: #FFFFFF;
    padding-right: 10px;
}

.date hr{
    width: 100%;
    border: 0.8px solid black;
}


.notif_container{
    position: relative;
    width: 100%;
    height: 9vh;
    background: #F0EEFF;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.no_color{
    background: inherit;
}

.avatar_notif{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 7vh;
    height: 7vh;
    background-color: #151A2B;
}

.avatar_notif img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenu_notif{
    width: 75%;
    height: 90%;

    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0,-50%);

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.date_notif{
    margin-top: 3px;
    font-weight: normal;
    font-size: 8pt;
}


.charcut_container{
    display: flex;
    flex-direction: column;
}

.charcut{
    position: relative;
    width: 100%;
    height: 15vh;
    background-color: #7A2AE8;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.charcut img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.charcut span {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 2vh;
    width: 95%;
    padding-top: 2px;
    padding-bottom: 2px;
    background: rgba(97, 56, 177, 0.8);
    backdrop-filter: blur(1px);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}